{% extends 'base.html' %}

{% block head %}
<h1>Lam's Website</h1>
{% endblock %}
 
{% block body %}
<div class=""content>
    <h3>Task Management</h3>
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr> 
            <td></td>
            <td></td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}